.introSection {
  width: 100%;
  height: 100vh;
  margin: 50px 0;
}
.boxAccueil {
  height: 60%;
  width: 45%;
}
.boxAccueil img {
    width: 100%; /* Ajuste la largeur de l'image à celle de la div */
    height: 100%; /* Ajuste la hauteur de l'image à celle de la div */
    object-fit: cover;
    
}
.slider-section {
  height: 50vh;
  width: 100%;
}

.slider-container {
  background-color:#72fcfc;
  margin-top: 20px;
  overflow: hidden;
  padding: 20px 0;
  white-space: nowrap;
}

.slider {
  animation: 25s slider linear infinite;
  display: inline-block;
}
.slider img {
  margin: 0 20px;
  height: 200px;
}

@keyframes slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
