.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100px;
    padding: 0 10%;
    background-color: var(--secondBackgroundColor);
    margin-bottom: 30px;
}

.header__logo {
    overflow: hidden;
    border-radius: 50%;
    margin: 10px 10px;
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header__logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.navbar__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navbar__link {
    cursor: pointer;
    color: var(--textColor);
    cursor: pointer;
    text-decoration: none;
    display: inline;
    position: relative;
}

.navbar__link::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    background: var(--textColor);
    width: 0%;
    transition: width 0.2s ease-in-out;
}

.navbar__link:hover::after {
    width: 100%;
}

.navbar__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navbar__button--connexion {
    padding: 8px 16px;
    background-color: var(--textColor);
    color: var(--secondBackgroundColor);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5rem;
    border: 2px solid var(--backgroundColor);
    transition: all 0.3s ease;
}

.navbar__button--connexion:hover {
    color: var(--textColor);
    transform: translateY(-4px);
    box-shadow: 0 6px 15px var(--textColor);
    background-color: var(--secondBackgroundColor);
}
.dialog {
    width: 500px;
    border: 2px solid;
    background-color: var(--backgroundColor);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--textColor);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    color: var(--textColor);
}
dialog::backdrop {
    background-color: var(--transparentColor);
}
.dialog__form {
    gap: 20px;
}
.form__button--exit {
    padding: 5px 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--contrastColor);

    cursor: pointer;
    background: transparent;
    border: 2px solid;
}

.form__button--exit:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.5);
    background-color: none;
    color: var(--textColor);
}